<div class="jsonEditor">
    <div class="jsonEditor_sizeContainer">
        @JSON
        <textarea spellcheck="false" @oninput=@HandleEdit class="jsonEditor_editor">@JSON</textarea>
    </div>
    <CascadingValue IsFixed Value=@this>
        <JSONOverlay />
    </CascadingValue>
</div>

@code
{
    [Parameter]
    public string JSON { get; set; }

    public event Action OnUpdate;

    private string currentJson;

    private void HandleEdit(ChangeEventArgs e)
    {
        currentJson = (string)e.Value;
        OnUpdate?.Invoke();
    }

    protected override void OnParametersSet()
    {
        JSON = JSON.Replace("\t", "    ");
        currentJson = JSON;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            OnUpdate?.Invoke();
        }
    }

    public string GetJSON()
    {
        return currentJson;
    }
}