@using Newtonsoft.Json.Linq

<div class="jsonEditor_main">
    <CascadingValue IsFixed Value=@this>
        <JSONObject Object=@document />
    </CascadingValue>
</div>

@code {
    [Parameter]
    public string JSON { get; set; }

    private JObject document;

    protected override void OnInitialized()
    {
        document = JObject.Parse(JSON);
    }

    public string GetJSON()
    {
        return null;
    }
}